astroid==2.2.5
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
Django==2.2
djangorestframework==3.9.1
httpie==1.0.2
idna==2.8
isort==4.3.16
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
matplotlib==3.0.2
mccabe==0.6.1
networkx==2.3
numpy==1.16.1
opencv-python==4.0.0.21
pandas==0.24.2
Pillow==5.4.1
Pygments==2.3.1
pylint==2.3.1
pylint-django==2.0.6
pylint-plugin-utils==0.5
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
scikit-fuzzy==0.4.1
scipy==1.2.1
six==1.12.0
sqlparse==0.3.0
typed-ast==1.3.1
urllib3==1.24.1
virtualenv==16.4.3
wrapt==1.11.1
